// Base colors
$dk_grey: #333333;

// Base spacing
$space-large: 2.5rem;


// Nav colors
$nav_background: $dk_grey;

// Clock
$clock-text-color: white;
$clock-bg-color: #b5d0e2;
$clock-border-color: #2099e8;
