.top-bar {
  background-color: $nav_background;

  ul {
    background-color: $nav_background;
  }

}

.menu a:focus {
  color: white;
}

.menu li a {
  display: inline;
}

.menu-text {
  color: white;
}
